<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h1>Here is the register page</h1>
    <form action="/api/v1/auth/register" method="post">
        <label for="email">email</label>
        <input type="text" name="email" id="email">
        <label for="password">Password</label>
        <input type="password" name="password" id="password">
        <label for="name">Name</label>
        <input type="text" name="name" id="name">
        <button type="submit">Register</button>
    </form>
</body>
</html>