/* that is the declaration section */
:root {
	--main-green: #06c69a;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	text-decoration: none;
	border: none;
	outline: none;
	font-family: "Inter", sans-serif;
}
section {
	padding-top: 50px;
}
ul {
	list-style: none;
}
.container {
	margin: auto;
	width: 95%;
	padding: 20px 60px;
}

/* start header section */
header {
	padding-top: 20px;
}
header .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.fulled_button,
.not_fulled_button {
	background-color: var(--main-green);
	color: white;
	font-weight: 600;
	font-size: 20px;
	line-height: 20px;
	padding: 12px 24px;
	border-radius: 50px;
	transition: 0.3s;
}
.fulled_button:hover {
	background-color: white;
	color: var(--main-green);
	border: solid var(--main-green) 1px;
}
.not_fulled_button {
	background-color: white;
	color: var(--main-green);
}
.not_fulled_button:hover {
	background-color: var(--main-green);
	color: white;
}
header .container .links {
	display: flex;
	gap: 40px;
}
header .container .links a li {
	font-weight: 400;
	font-size: 24px;
	line-height: 20px;
	color: black;
	transition: 0.3s;
}
header .container .links a li:hover {
	color: var(--main-green);
}
/* end  header section */