.how-it-works h1 {
    width: fit-content;
    position: relative;
    font-weight: 900;
    font-size: 100px;
    line-height: 138px;
}

.how-it-works h1 object {
    position: absolute;
    right: -75px;
    top: -25px;
}

.how-it-works .features {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.how-it-works .features .feature {
    display: flex;
    gap: 20px;
}

.how-it-works .features .feature h2 {
    font-weight: 900;
    font-size: 70px;
    line-height: 138px;
}

.how-it-works .features .feature p {
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
}