body {
    padding: 0;
    margin: 0;
}

/* Start Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:  blueviolet;
    padding: 5px;
    
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    height: 30px;
    margin-right: 10px;
  }
  
  nav ul {
    display: flex;
    list-style: none;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  